// Fonts
html, body {
  min-height: 100%;
  height: 100%;
  font: 14px/24px 'Open Sans', sans-serif;
}

body {
  background-color: $dim_grey;
}

h1, h2, h3 {
  font: 23px/21px 'PT Sans Narrow', sans-serif;
}
h1, h2, h3, h4 {
  color: $plain-red;
}

p {
  font: 12px/18px Arial, sans-serif;
  color: $plain-grey;
}