@mixin border-radius($val) {
  -moz-border-radius: $val;
  -o-border-radius: $val;
  -ms-border-radius: $val;
  -webkit-border-radius: $val;
  border-radius: $val;
}

/*
  Includes cross-browser opacity rules.
*/
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*
  Includes transition
*/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*
  Includes transform
*/
@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

/*
  Includes background
*/
@mixin bg($image_name, $color: "", $x: 0, $y: 0, $repeat: no-repeat) {
  background: unquote($color) url($images-path + $image_name) $x $y $repeat;
}

/*
  Calculates rem for giving size. E.g. @include font-size(14px) will give font-size: 14px; font-size: 0.8rem;
  $param - parameter name (font-size, width, ...)
  $size - desired size in pixels.
*/
@function calculateRem($size) {
  $remSize: $size / 16;
  @return $remSize * 1rem;
}
@mixin rem-size($size, $name: font-size) {
  #{$name}: $size + px;
  #{$name}: calculateRem($size);
}

/*
  Includes placeholder with vendor prefixes.
  @content - placeholders text
*/
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

/*
  Includes custom fonts.
  $family - font name equal to folder name, that contains font data.
  $filename - name of font file.
  $weight - font weight, default is normal value
  $style - font style, default is normal value
*/
@mixin custom_font($family, $filename, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('../fonts/' + $family + '/' + $filename + '.eot');
    src: url('../fonts/' + $family + '/' + $filename + '.eot?#iefix') format('embedded-opentype'),
    url('../fonts/' + $family + '/' + $filename + '.woff') format('woff'),
    url('../fonts/' + $family + '/' + $filename + '.ttf') format('truetype'),
    url('../fonts/' + $family + '/' + $filename + '.svg#' + $family) format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

/*
  Includes common list item styles.
  $mr - margin right value.
*/
@mixin list_item($mr: 0) {
  position: relative;
  display: block;
  float: left;
  text-align: center;
  margin-right: $mr;
}

/*
  Includes media-query break point
*/
@mixin respond-to($media) {
  @if $media == smallhandhelds {
    @media only screen and (max-width: $small) { @content; }
  }
  @if $media == handhelds {
    @media only screen and (min-width: $min-mobile) and (max-width: $max-mobile) { @content; }
  }
  @if $media == tablets {
    @media only screen and (min-width: $max-mobile) and (max-width: $max-tablet) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $max-tablet + 1) and (max-width: $min-desktop - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $min-desktop) { @content; }
//    @media only screen and (min-width: $min-desktop) and (max-width: $max-desktop - 1) { @content; }
  }
  @else if $media == hddesktop {
    @media only screen and (min-width: $max-desktop) { @content; }
  }
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

/*
  Calc the percentage from given break-point width
*/
@function get-percent($max-width, $width) {
  @return (100 * $width / $max-width) + %;
}

