/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$check-checked-name: 'check_checked';
$check-checked-x: 31px;
$check-checked-y: 0px;
$check-checked-offset-x: -31px;
$check-checked-offset-y: 0px;
$check-checked-width: 19px;
$check-checked-height: 19px;
$check-checked-total-width: 83px;
$check-checked-total-height: 61px;
$check-checked-image: '../img/sprites_out/sprite.png';
$check-checked: (31px, 0px, -31px, 0px, 19px, 19px, 83px, 61px, '../img/sprites_out/sprite.png', 'check_checked', );
$check-empty-name: 'check_empty';
$check-empty-x: 51px;
$check-empty-y: 17px;
$check-empty-offset-x: -51px;
$check-empty-offset-y: -17px;
$check-empty-width: 18px;
$check-empty-height: 18px;
$check-empty-total-width: 83px;
$check-empty-total-height: 61px;
$check-empty-image: '../img/sprites_out/sprite.png';
$check-empty: (51px, 17px, -51px, -17px, 18px, 18px, 83px, 61px, '../img/sprites_out/sprite.png', 'check_empty', );
$close-button-name: 'close_button';
$close-button-x: 0px;
$close-button-y: 21px;
$close-button-offset-x: 0px;
$close-button-offset-y: -21px;
$close-button-width: 23px;
$close-button-height: 23px;
$close-button-total-width: 83px;
$close-button-total-height: 61px;
$close-button-image: '../img/sprites_out/sprite.png';
$close-button: (0px, 21px, 0px, -21px, 23px, 23px, 83px, 61px, '../img/sprites_out/sprite.png', 'close_button', );
$facebook-icon-name: 'facebook_icon';
$facebook-icon-x: 74px;
$facebook-icon-y: 0px;
$facebook-icon-offset-x: -74px;
$facebook-icon-offset-y: 0px;
$facebook-icon-width: 9px;
$facebook-icon-height: 20px;
$facebook-icon-total-width: 83px;
$facebook-icon-total-height: 61px;
$facebook-icon-image: '../img/sprites_out/sprite.png';
$facebook-icon: (74px, 0px, -74px, 0px, 9px, 20px, 83px, 61px, '../img/sprites_out/sprite.png', 'facebook_icon', );
$g-plus-icon-name: 'g_plus_icon';
$g-plus-icon-x: 31px;
$g-plus-icon-y: 20px;
$g-plus-icon-offset-x: -31px;
$g-plus-icon-offset-y: -20px;
$g-plus-icon-width: 19px;
$g-plus-icon-height: 17px;
$g-plus-icon-total-width: 83px;
$g-plus-icon-total-height: 61px;
$g-plus-icon-image: '../img/sprites_out/sprite.png';
$g-plus-icon: (31px, 20px, -31px, -20px, 19px, 17px, 83px, 61px, '../img/sprites_out/sprite.png', 'g_plus_icon', );
$hamburger-name: 'hamburger';
$hamburger-x: 0px;
$hamburger-y: 0px;
$hamburger-offset-x: 0px;
$hamburger-offset-y: 0px;
$hamburger-width: 30px;
$hamburger-height: 20px;
$hamburger-total-width: 83px;
$hamburger-total-height: 61px;
$hamburger-image: '../img/sprites_out/sprite.png';
$hamburger: (0px, 0px, 0px, 0px, 30px, 20px, 83px, 61px, '../img/sprites_out/sprite.png', 'hamburger', );
$search-icon-name: 'search_icon';
$search-icon-x: 0px;
$search-icon-y: 45px;
$search-icon-offset-x: 0px;
$search-icon-offset-y: -45px;
$search-icon-width: 16px;
$search-icon-height: 16px;
$search-icon-total-width: 83px;
$search-icon-total-height: 61px;
$search-icon-image: '../img/sprites_out/sprite.png';
$search-icon: (0px, 45px, 0px, -45px, 16px, 16px, 83px, 61px, '../img/sprites_out/sprite.png', 'search_icon', );
$twitter-icon-name: 'twitter_icon';
$twitter-icon-x: 51px;
$twitter-icon-y: 0px;
$twitter-icon-offset-x: -51px;
$twitter-icon-offset-y: 0px;
$twitter-icon-width: 22px;
$twitter-icon-height: 16px;
$twitter-icon-total-width: 83px;
$twitter-icon-total-height: 61px;
$twitter-icon-image: '../img/sprites_out/sprite.png';
$twitter-icon: (51px, 0px, -51px, 0px, 22px, 16px, 83px, 61px, '../img/sprites_out/sprite.png', 'twitter_icon', );
$spritesheet-width: 83px;
$spritesheet-height: 61px;
$spritesheet-image: '../img/sprites_out/sprite.png';
$spritesheet-sprites: ($check-checked, $check-empty, $close-button, $facebook-icon, $g-plus-icon, $hamburger, $search-icon, $twitter-icon, );
$spritesheet: (83px, 61px, '../img/sprites_out/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
  display: inline-block;
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
