// Main
$images-path: '/img/';

// Colors
$black: #000;
$white: #fff;
$plain_red: #ed5565;
$active_red: #da4453;
$plain_grey: #99a3b1;
$dim_grey: #f0f2f5;
$light_grey: #e3e4e8;
$dark_grey: #434a54;
$active_grey: #393f48;

// Dimensions
$main_width: 980px;
$border_radius: 5px;
$footer_height: 240px;


// Media queries break points.
$min-mobile: 320px;
$small: 370px;
$max-mobile: 1075px;
$max-tablet: 1150px;
$min-desktop: 1350px;
$max-desktop: 1500px;

// Z-index position
$plain: 0;
$house: 5;
$village: 10;
$town: 15;
$city: 20;
$capital: 25;
$grid: 99;

