footer {
  min-height: $footer_height;
  background-color: #434a54;
  @extend %clearfix;

  article.about {
    box-sizing: border-box;
    padding: 31px 19px 17px 27px;
    height: $footer_height;
    width: 218px;
    background-color: #393f48;
    float: left;
    
    h2 {
      font: 21px 'Open Sans', sans-serif;
      color: $white;
      padding-bottom: 40px;
    }

    p {
      color: #99a3b1;
    }
  }

  nav.bottom-menu {
    float: left;
    box-sizing: border-box;
    padding: 31px 39px 44px;

    &>ul>li {
      margin-right: 50px;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }
    }
    
    span.bottom-menu-heading {
      display: inline-block;
      color: #929ba7;
      font: 14px 'Open Sans', sans-serif;
      padding-bottom: 26px;
    }

    ul.submenu a {
      display: block;
      color: $white;
      font: 13px/23px 'Open Sans', sans-serif;
      transition: all ease-in .3s;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}