$header_height: 60px;

header {
  @extend %clearfix;
  margin-top: 23px;
  height: $header_height;
  line-height: $header_height;
  background-color: $plain_red;
  border-radius: $border_radius;
  box-shadow: 0 3px 0 $active_red;
}

nav.main-menu {
  display: inline-block;
}

// Dropdown list.
.dropdown-container {
  display: inline-block;
  height: 60px;
  position: relative;
  top: -19px;
  width: 70px;

  a {
    transition: background-color ease-in-out .4s;
  }

  a.dropdown-button {
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    display: block;
    height: 60px;
    padding-top: 6px;
    text-align: center;
    outline: none;
    
    &.active, &:hover {
      background-color: $active-red;
    }
  }

  ul.dropdown {
    background-color: $dark-grey;
    border-radius: $border_radius;
    display: none;
    left: 0;
    min-width: 220px;
    position: absolute;
    top: $header_height + 3;
    //visibility: hidden;

    a {
      color: $white;
      border-radius: $border_radius;
      display: block;
      padding: 0 22px;
      text-decoration: none;
    }

    a.active, a:hover {
      background-color: $active-grey;
    }
  }
}

// Menu list.
.main-menu-list {
  display: inline-block;
  height: 60px;

  li {
    display: inline-block;

    &:last-child a {
      border-right: 1px solid $active-red;
    }

    a {
      background-color: transparent;
      border-left: 1px solid $active-red;
      display: block;
      color: $white;
      float: left;
      font-size: 16px;
      height: $header_height;
      line-height: $header_height;
      padding: 0 22px;
      text-align: center;
      text-decoration: none;
      transition: background-color ease-in-out .4s;
    }


    a.active, a:hover {
      background-color: $active_red;
    }

  }
}

// Search form.
form.search-form {
  display: inline-block;
  float: right;
  position: relative;

  input[type='text'] {
    background-color: #fff;
    border: none;
    border-radius: $border_radius;
    box-shadow: none;
    color: #959596;
    outline: none;
    padding-left: 25px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    margin-right: 19px;
    min-width: 230px;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    display: block;
    position: absolute;
    right: 29px;
    top: 22px;
    outline: none;
    transition: transform linear .2s;


    &:active {
      transform: translateY(2px);
    }
  }
}
//for ie 9+
_::selection, form.search-form button {
    top: 5px\0;
}