// Simple common classes.
// Old Colors.
.navy-blue {
  color: $navy-blue;
}

// Font sizes.
#body .text {
  font-size: 16px;
  line-height: 18px;
}
#body .n-text {
  font-size: 18px;
  line-height: 22px;
}

#body .m-text {
  font-size: 21px;
  line-height: 27px;
}
#body .mm-text {
  font-size: 27px;
  line-height: 27px;
}
#body .mmm-text {
  font-size: 28px;
  line-height: 28px;
}
#body .l-text {
  font-size: 36px;
  line-height: 36px;
}
#body .xl-text {
  font-size: 55px;
  line-height: 55px;
}
#body .xxl-text {
  font-size: 10vh;
  line-height: 10vh;
}
#body .xxxl-text {
  font-size: 186px;
  line-height: 186px;
}


// Text props.
#body .uppercase {
  text-transform: uppercase;
}
#body .lowercase {
  text-transform: lowercase;
}

#body .tac {
  text-align: center;
}

#body .vac {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#body .tal {
  text-align: left;
}
#body .tdn {
  text-decoration: none;
}
#body .tdu {
  text-decoration: underline;
}

// Colors.
#body .text-color-blue {
  color: $navy-blue;
}

#body .text-color-red {
  color: $varona-red;
}

#body .text-color-yellow {
  color: $varona-yellow;
}
#body .text-color-white {
  color: $white;
}
#body .text-color-black {
  color: $black;
}

#body .border-color-blue {
  border-color: $navy-blue;
}
#body .border-color-yellow {
  border-color: $varona-yellow;
}

strong {
  font-weight: 700;
}

// Margins
#body .mtu {
  margin-top: $unit;
}
#body .mtu2 {
  margin-top: $unit*2;
}
#body .mtu3 {
  margin-top: $unit*3;
}
#body .mtu4 {
  margin-top: $unit*4;
}

#body .pb0 {
  padding-bottom: 0;
}
#body .pbu {
  padding-bottom: $unit;
}
#body .pbu2 {
  padding-bottom: $unit*2;
}
#body .pbu3 {
  padding-bottom: $unit*3;
}
#body .pbu4 {
  padding-bottom: $unit*4;
}
#body .pbu5 {
  padding-bottom: $unit*5;
}
#body .pbu6 {
  padding-bottom: $unit*6;
}
#body .pt0 {
  padding-top: 0;
}
#body .ptu {
  padding-top: $unit;
}
#body .ptu2 {
  padding-top: $unit*2;
}
#body .ptu3 {
  padding-top: $unit*3;
}
#body .ptu4 {
  padding-top: $unit*4;
}
#body .ptu5 {
  padding-top: $unit*5;
}
#body .ptu6 {
  padding-top: $unit*6;
}
#body .pl0 {
  padding-left: 0;
}
#body .pr0 {
  padding-right: 0;
}

// Boxes.
#body .bg-none {
  background-image: none;
}

#body .hide {
  display: none;
}

#body .clearfix {
  @extend %clearfix;
}

#body .no-float {
  float: none;
  top: 0;
}

#body .no-after:after {
  content: none;
  display: none;
}

.full-height {
  height: 100%;
}

#body .img-container {
  img {
    width: 100%;
    height: auto;
  }
}