section.main-wrapper {
  width: $main_width;
  margin: auto;
}

section.content {
  margin-top: 30px;

  &>* {
    border-radius: $border_radius;
    box-sizing: border-box;
    background-color: $white;
    box-shadow: 0 3px 0 $light-grey;
    display: inline-block;
    padding: 23px 21px;
    vertical-align: top;
  }

// Sidebar
  aside {
    width: 310px;

    .items-list {
      margin-top: 10px;
    }

    .items-list li {
      padding: 18px 0;
      border-bottom:  1px solid $light_grey;

      &:last-child {
        border-bottom: none;
      }

      &>a {
        display: block;
        overflow: hidden;
      }

      figure .fancybox {
        border: 2px solid #e3e4e8;
        border-radius: $border_radius;
        display: inline-block;
        height: 80px;
        margin-right: 18px;
        overflow: hidden;
        vertical-align: top;
        width: 80px;
      }

      figure .fancybox img {
        display: block;
        width: auto;
        height: 100%;
      }

      figcaption {
        width: 160px;
        display: inline-block;;
      }

      figcaption a {
        text-decoration: none;
      }

      figcaption a:hover h4 {
        text-decoration: underline;
      }

      figcaption h4 {
        line-height: 18px;
        margin-bottom: 4px;
      }

    }
  }

  // Inner content.
  section.inner-content {
    margin-left: 30px;
    width: 635px;

    .container {
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding-left: 20px;

      &:first-child {
        padding-left: 0;
        padding-right: 20px;
        border-right: 1px solid $light_grey;
      }

      &>* {
        margin-bottom: 18px;
      }
    }

    form {
      label {
        color: #768082;
        display: block;
        font-size: 13px;
        font-weight: 300;
        line-height: 21px;
        margin-top: 18px;
        position: relative;
      }

      input:not([type='checkbox']) {
        display: block;
        background-color: $white;
        border: 2px solid $light-grey;
        height: 45px;
        line-height: 45px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 5px;
        border-radius: $border_radius;
        margin-top: 10px;
        outline: none;
      }

      // Styling checkboxes and radios.
      input[type=checkbox]:not(old) {
        height: $check-empty-height;
        margin: 0;
        padding: 0;
        opacity: 0;
        width: $check-empty-width;
      }

      input[type=checkbox]:not(old) + span.bg-holder
      {
        background-image: url('../img/sprites_out/sprite.png');
        background-repeat: no-repeat;
        background-position:  (-($check-empty-x)) (-($check-empty-y));
        cursor: pointer;
        display: inline-block;
        left: 0;
        height: $check-empty-height;
        position: absolute;
        bottom: 0;
        width: $check-empty-width;
      }

      input[type=checkbox]:not(old):checked + span.bg-holder {
        background-position: (-($check-checked-x)) (-($check-checked-y));
        height: $check-checked-height;
        width: $check-checked-width;
      }

      input[type=checkbox]:not(old) + label {
        display: inline-block;
      }

      button {
        cursor: pointer;
        display: block;
        height: 40px;
        background-color: $plain-red;
        border: none;
        border-radius: $border_radius;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 40px;
        margin: 18px auto;
        outline: none;
        width: 128px;
        transition: background-color ease-in-out .4s;


        &:hover {
          background-color: $active-red;
        }
      }
    }

    // Social login buttons.
    .social-login {
      display: block;
      box-sizing: border-box;
      width: 198px;
      height: 45px;
      background-color: #5d9cec;
      border-radius: $border_radius;
      margin: 18px auto;
      color: $white;
      padding-left: 20px;
      text-decoration: none;
      font: 12px/45px Arial, sans-serif;
      position: relative;
      transition: background-color ease-in-out .4s;

      span.icon-holder {
        box-sizing: border-box;
        padding-top: 5px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 45px;
        height: 45px;
        border-radius: 0 5px 5px 0;
      }

      &:hover, span {
        background-color: #4b89dc;
      }
    }
    
    .social-login.social-google {
      background-color: $plain-red;
      
      &:hover, span {
        background-color: $active-red;
      }
    }

    .social-login.social-twitter {
      background-color: #4fc0e8;

      &:hover, span {
        background-color: #55badf;
      }
    }
  }
}

section.modal-content {
  box-sizing: border-box;
  padding: 22px 22px 30px;
  background-color: #f6f8fa;
  border: 2px solid $light_grey;
  border-radius: $border_radius;
  position: relative;
  margin: 30px 0;

  p {
    margin: 21px 0 17px;
    font: 14px/24px OpenSans, sans-serif;
    
    .red {
      color: $plain-red;
    }
  }

  a.close {
    position: absolute;
    top: 25px;
    right: 22px;
    border-radius: 50%;
    background-color: transparent;
    display: block;
    width: 23px;
    height: 23px;
    transition: transform linear .3s, background-color linear .1s;

    &:hover {
      transform: rotate(180deg);
    }
    &:active {
      background-color: $plain-red;
    }
  }

  .modal-controls {
    button {
      display: inline-block;
      width: 138px;
      height: 39px;
      background-color: #a4a9ae;
      border: none;
      border-radius: $border_radius;
      box-shadow: 0 3px 0 #83898f;
      text-transform: uppercase;
      text-align: center;
      color: $white;
      font: 12px/39px Arial, sans-serif bold;
      margin-right: 10px;
      transition: transform linear .2s, box-shadow linear .2s;

      &.modal-confirm {
        background-color: #fc6e51;
        box-shadow: 0 3px 0 #e9573f;
      }

      &:active {
        transform: translateY(3px);
        box-shadow: none;
      }
    }
  }
}